<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Data Dokter</title>
</head>
<style>
    body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    text-align: center;
}
</style>
<>

<div class="container mt-5">
    <h2>Data Dokter</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID Dokter</th>
                <th>Nama</th>
                <th>No Telepon</th>
                <th>Email</th>
                <th>Posisi</th>
                <th>Shift</th>
            </tr>
        </thead>
        <tbody id="dokterTableBody">
            <!-- Data akan ditambahkan melalui JavaScript -->
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="script.js"></script>

</body>
</html>
