<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>Data Dokter</title>
</head>
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .table th,
    .table td {
        text-align: center;
    }
</style>

<body>

    <div class="container mt-5">
        <h2>Data Dokter</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID Dokter</th>
                    <th>Nama</th>
                    <th>No Telepon</th>
                    <th>Email</th>
                    <th>Poli</th>
                    <th>Shift</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dokter in dokter %}
                <tr>
                    <th>{{ dokter.id_dokter }}</th>
                    <th>{{ dokter.name }}</th>
                    <th>{{ dokter.telepon }}</th>
                    <th>{{ dokter.email }}</th>
                    <th>{{ dokter.poli }}</th>
                    <th>{{ dokter.shift }}</th>
                    <th>
                        <a href="{{ url_for('edit_dokter', id_dokter=dokter.id_dokter) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_dokter', id_dokter=dokter.id_dokter) }}" class="btn btn-danger">Delete</a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('tambah_dokter_page') }}" class="btn btn-primary">Kembali Ke Home</a>
    </div>

</body>

</html>