<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Data Pegawai</title>
</head>
<style>
    body {
        background-color: #f8f9fa;
    }

    .table-data {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding-top: 100px;
    }

    .table th,
    .table td {
        text-align: center;
    }
</style>

<body class="vh-100 overflow-hidden">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand fs-4" href="#">Rumah Sakitku</a>
            <!-- Toogle Btn -->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Side Bar -->
            <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- Sidebar header -->

                <div class="offcanvas-header text-white border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Rumah Sakitku</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>

                <!-- sidebar body -->
                <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                    <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/dokter">Dokter</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link active" aria-current="page" href="/pegawai">Pegawai</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/.absen">Absen</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="/rekap_absen">Rekap Absen</a>
                        </li>

                    </ul>

                    <!-- Login/ Sign Up -->
                    <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                        <a href="#login" class="text-white text-decoration-none px-3 py-1 rounded-4"
                            style="background-color: #00b383;">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="table-data mt-5">
        <h2>Jadwal Pegawai</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama Pegawai</th>
                    <th>Hari</th>
                    <th>Tanggal</th>
                    <th>Posisi</th>
                    <th>Shift</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for pegawai in jadwal_pegawai %}
                <tr>
                    <th>{{ pegawai.name_pegawai }}</th>
                    <th>{{ pegawai.hari }}</th>
                    <th>{{ pegawai.tanggal }}</th>
                    <th>{{ pegawai.posisi }}</th>
                    <th>{{ pegawai.shift }}</th>
                    <th>
                        <a href="{{ url_for('edit_jadpeg', name_pegawai=pegawai.name_pegawai) }}"
                            class="btn btn-primary">Edit</a>
                        <a href="{{ url_for('delete_jadpeg', name_pegawai=pegawai.name_pegawai) }}"
                            class="btn btn-danger">Delete</a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('tambah_jadpeg_page') }}" class="btn btn-primary">Kembali Ke Home</a>
    </div>

</body>

</html>