<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-AU-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../static/style.css" rel="stylesheet">
    <title>Absensi Pegawai</title>
    <script>
        function showAlert(message) {
            alert(message + ' berhasil');
        }

        function updateDate() {
            var currentDate = new Date();
            var options = {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            };
            var formattedDate = currentDate.toLocaleDateString('id-ID', options);

            // Update elemen HTML dengan ID 'currentDate'
            document.getElementById('currentDate').innerText = formattedDate;
        }

        // Panggil fungsi updateDate saat halaman dimuat
        window.onload = function () {
            updateDate();
        };
    </script>
</head>

<body>

    <body class="vh-100 overflow-hidden">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand fs-4" href="index.html">Rumah Sakitku</a>
                <!-- Toogle Btn -->
                <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Side Bar -->
                <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <!-- Sidebar header -->

                    <div class="offcanvas-header text-white border-bottom">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Rumah Sakitku</h5>
                        <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>

                    <!-- sidebar body -->
                    <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">

                            <li class="nav-item mx-2">
                                <a class="nav-link" href="/tambah_jadpeg">Kembali</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="/layanan">Layanan</a>
                            </li>

                        </ul>

                        <!-- Login/ Sign Up -->
                        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                            <a href="#logout" class="text-white text-decoration-none px-3 py-1 rounded-4"
                                style="background-color: #8bd2f3 ;">Logout</a>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <br>
        <br>
        <br>

        <main class="main">
            <h1 class="text-center text-white">Selamat Datang, Pegawai</h1>
            <p class="text-center text-white">Silahkan Lakukan Absensi Harian</p>
            <div class="card col-md-8 mx-auto" style="width: 25rem;">
                <div class="card-body">
                    <center>
                        <h5 class="card-title">
                            <p id="currentDate" class="text-center"></p>
                        </h5>
                    </center>
                    <div class="row">
                        <div class="col-md-7">
                            <!-- Tambahkan form untuk Absen Masuk -->
                            <form action="{{ url_for('absen_masuk_pegawai') }}" method="POST">
                                <button type="submit" class="btn btn-primary" onclick="showAlert('Absen Masuk')">Absen
                                    Masuk</button>
                            </form>
                        </div>
                        <div class="col-md-5">
                            <!-- Tambahkan form untuk Absen Pulang -->
                            <form action="{{ url_for('absen_pulang_pegawai') }}" method="POST">
                                <button type="submit" class="btn btn-primary" onclick="showAlert('Absen Pulang')">Absen
                                    Pulang</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </main>

    </body>

</html>